<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
    <!-- CSS FILES -->        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}">
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        /*  */
        .breadcrumb-item {display: inline-block;
                color: #13547a;
                text-decoration: none;
            }
        .breadcrumb-item:hover {
            color: #FFF;
            cursor: pointer;
        }
        .card {
            border-radius: 10px; /* Add rounded corners */
            border: none; /* Remove border */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            transition: box-shadow 0.3s ease; /* Add transition for hover effect */
            height: 200px;
        }
        .card:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
        }
        .card-body {
            padding: 20px; /* Add padding inside the card body */
        }
        .card-title {
            font-size: 20px; /* Increase font size */
            margin-top: 30px;
        }
        .btn-primary {
            width: 100%; /* Make button full width */
            margin-top: 30px;
        }
        html, body {
    overflow-x: hidden;
    }
      
    </style>
</head>
<body>
    {% include 'navbar.html'%}
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('subjects') }}" style="cursor: pointer;"></a>Subjects</li> <!--FIX LATER-->

                            <li class="breadcrumb-item active" aria-current="page">View {{selected_subject}}</li>
                        </ol>
                    </nav>

                    <h2 class="text-white">Chapters</h2>
                </div>

            </div>
        </div>
    </section>
<br>
<ul class="list-unstyled row">
    <h5 style="text-align: center;">
        {% if selected_subject == 'Biology' %}
            {% if subject_level == 1 %}
                <li style="    font-size: 30px;
                font-weight: bold;">Start with Chapter: Basic Biology</li>
                <li style="    font-size: 20px;
                font-weight: bold;">Subtopic 'Cells'</li>
            {% elif subject_level == 2 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Plant Physiology</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Respiration in plants'</li>
            {% elif subject_level == 3 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Quiz of SubTopic 'Cells' in Basic Biology</li>
            {% endif %}
        {% elif selected_subject == 'English' %}
            {% if subject_level == 1 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter:  Grammar and Syntax</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Syntax'</li>
            {% elif subject_level == 2 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Comprehension</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Comprehension and what it means'</li>
            {% elif subject_level == 3 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Quiz of Subtopic 'Syntax' in Grammar and Syntax</li>
            {% endif %}
        {% elif selected_subject == 'Social Sciences' %}
            {% if subject_level == 1 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Our Constitution</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Constitution and its Significance'</li>
            {% elif subject_level == 2 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Elections</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Elections and their scopes'</li>
            {% elif subject_level == 3 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Quiz of Subtopic 'Elections and their scopes' in Elections</li>
            {% endif %}
        {% elif selected_subject == 'Chemistry' %}
            {% if subject_level == 1 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Basic Chemistry</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Atomic Structure'</li>
            {% elif subject_level == 2 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Chemical Reactions</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Types of Chemical Reactions'</li>
            {% elif subject_level == 3 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Quiz of Subtopic 'Types of Chemical Reactions' in Chemical Reactions</li>
            {% endif %}
        {% elif selected_subject == 'Physics' %}
            {% if subject_level == 1 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Basic Physics</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Mechanics'</li>
            {% elif subject_level == 2 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Electromagnetism</li>
                <li style="
                padding: 10px;
                font-size: 20px;
                font-weight: bold;">Subtopic 'Electromagnetic Induction'</li>
            {% elif subject_level == 3 %}
            <li style="
            padding: 10px;
            font-size: 30px;
            font-weight: bold;">Start with Chapter: Quiz of Subtopic 'Electromagnetic Induction' in Electromagnetism</li>
            {% endif %}
        {% endif %}
    </h5>
</ul>


        
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% set seen_chapters = [] %}
        {% for chapter in chapters %}
        {% if chapter.Chapter not in seen_chapters %}
        {% set _ = seen_chapters.append(chapter.Chapter) %}
        <div class="col">
            <div class="card">
                <div class="card-body" style="overflow: hidden;">
                    <h5 class="card-title">{{ chapter.Chapter }}</h5>
                    <p class="card-text" style="overflow: hidden; text-overflow: ellipsis;height: 240px;">{{ chapter.ChapterDescription }}</p>
                    <form action="/subtopics" method="POST">
                        <input type="hidden" name="subject" value="{{ chapter.Chapter }}">
                        <button type="submit" class="btn btn-primary" style="background-color: #80d0c7; border-color: #80d0c7;">View Subtopics</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
</div>

    </div>


</body>
{% include 'footer.html'%}    

</html>
