<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Progress Report</title>
    
    <!-- CSS FILES -->        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}">
    
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        /* Adjust the size and position of canvas elements */
    .container {
        display: inline-block;
        width: 18%; /* Adjust the width as needed */
        margin-right: 2%; /* Adjust the spacing between the containers */
        vertical-align: top; /* Align the containers to the top */
    }

    canvas {
        width: 100%; /* Take up full width of the container */
        height: 100px; /* Adjust the height as needed */
        margin-top: 20px; /* Add some top margin to separate the charts */
    }
    </style>
</head>
<body>
    {% include 'navbar.html'%}
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Progress Report</li>
                        </ol>
                    </nav>
                    <h2 class="text-white">Progress Reports</h2>
                </div>
            </div>
        </div>
    </section>
      
    {% if role == 'Student' %}
    <!-- Student-specific graphs -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Subject Scores</h5>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Read and Watch Status</h5>
                    <canvas id="mySplineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    
{% elif role == 'Teacher' %}
    <!-- Teacher-specific graphs -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Subject Scores</h5>
                    <canvas id="teacherChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Read and Watch Status</h5>
                    <canvas id="teacherSplineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    
    <!-- JavaScript section -->
    <script>
        {% if role == 'Student' %}
        const data1 = {{ data1|tojson }};
        const subjects = data1.map(item => item.Subject);
        const scores = data1.map(item => item.SubjectScore);

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: subjects,
                datasets: [{
                    label: 'Subject Scores',
                    data: scores,
                    backgroundColor: [ // Add different colors for each bar
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [ // Add border colors for each bar
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Subject Scores'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Subjects'
                        }
                    }
                }
            }
        });

        const data2 = {{ data2|tojson }};
        const student_id = data2.map(item => item.student_id);
        const read_status = data2.map(item => item.read_status);
        const watch_status = data2.map(item => item.watch_status);

        var ctxSpline = document.getElementById('mySplineChart').getContext('2d');
        var mySplineChart = new Chart(ctxSpline, {
            type: 'line',
            data: {
                labels: student_id,
                datasets: [{
                    label: 'Read Status',
                    data: read_status,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false
                },
                {
                    label: 'Watch Status',
                    data: watch_status,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Status'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Student ID'
                        }
                    }
                }
            }
        });
        {% elif role == 'Teacher' %}
        const data3 = {{ data3|tojson }};
        const student_id_teacher = data3.map(item => item.student_id);
        const read_status_teacher = data3.map(item => item.read_status);
        const watch_status_teacher = data3.map(item => item.watch_status);

        var ctxSplineTeacher = document.getElementById('teacherSplineChart').getContext('2d');
        var mySplineChartTeacher = new Chart(ctxSplineTeacher, {
            type: 'line',
            data: {
                labels: student_id_teacher,
                datasets: [{
                    label: 'Read Status',
                    data: read_status_teacher,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false
                },
                {
                    label: 'Watch Status',
                    data: watch_status_teacher,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Status'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Student ID'
                        }
                    }
                }
            }
        });

        const data4 = {{ data4|tojson }};
        const subjects_teacher = data4.map(item => item.Subject);
        const scores_teacher = data4.map(item => item.SubjectScore);

        var ctxTeacher = document.getElementById('teacherChart').getContext('2d');
        var myChartTeacher = new Chart(ctxTeacher, {
            type: 'bar',
            data: {
                labels: subjects_teacher,
                datasets: [{
                    label: 'Subject Scores',
                    data: scores_teacher,
                    backgroundColor: [ // Add different colors for each bar
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [ // Add border colors for each bar
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Subject Scores'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Subjects'
                        }
                    }
                }
            }
        });
        {% endif %}
    </script>
</body>
</html>
